<div class="col-md-4 col-sm-6 blog wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
    <span>{{post.createdAt|date("d")}}<br>{{post.createdAt|date("F")|slice(0, 3) }}</span>
        {% if (post.image|length) %}
        <a href="{{ url_to_post(post) }}"><img class="post-img" src="{{ post.getWebPath | imagine_filter('sk_downscale_max_600_600') }}" /> </a>
        {% else %}
            {{ post.video|replace({' height="315"':'', 'width="560"':'width="350"'})|raw }}
        {% endif %}
    <h3>{{post.title}}</h3>
    <h4>{{post.author}} . {{post.createdAt|date("d/m/Y")}}</h4>
    <p>{{post.text|slice(0, 260)|raw}}</p>
    <a href="{{ url_to_post(post) }}" class="read-more"><b>Read more <i class="fa fa-angle-right"></i></b></a>
</div>