{% extends 'AppBundle::forms_layout.html.twig' %}


{% block body -%}
    <h1>VbaWork list</h1>

    <table class="records_list table table-striped table-responsive table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Project</th>
                <th>Createdat</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('admin_work_show', { 'id': entity.id }) }}">{{ entity.project }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td><img style="max-width: 200px" class="img-responsive" src="{{ entity.getWebPath | imagine_filter('sk_downscale_max_600_600') }}" /></td>
                
                
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_work_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_work_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_work_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
