
      <!-- Testimonials Section -->
      <section id="testimonials" class="text-center">
         <div class="overlay">
            <div class="container">
               <div class="section-title center">
                  <h2>{% trans %}testimonials_what_they_say{% endtrans %}</h2>
                  <div class="line">
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                     <div id="testimonial" class="owl-carousel owl-theme">
                        <div class="item wow bounceInUp">
                           <h5>{% trans %}testimonials_intro_01{% endtrans %}</h5>
                           <img alt="" src="{{ asset('bundles/app/img/testimonials/ivone.jpg') }}">
                           <p>{% trans %}testimonials_name_and_position_01{% endtrans %}</p>
                        </div>
                        <div class="item">
                           <h5>{% trans %}testimonials_intro_02{% endtrans %}</h5>
                           <img alt="" src="{{ asset('bundles/app/img/testimonials/antonio_cordeiro.png') }}">
                           <p>{% trans %}testimonials_name_and_position_02{% endtrans %}</p>
                        </div>
                        <div class="item">
                           <h5>{% trans %}testimonials_intro_03{% endtrans %}</h5>
                           <img alt="" src="{{ asset('bundles/app/img/testimonials/emilie.jpg') }}">
                           <p>{% trans %}testimonials_name_and_position_03{% endtrans %}</p>
                        </div>
                        <div class="item">
                           <h5>{% trans %}testimonials_intro_04{% endtrans %}</h5>
                           <img alt="" src="{{ asset('bundles/app/img/testimonials/carlos_santos.jpg') }}">
                           <p>{% trans %}testimonials_name_and_position_04{% endtrans %}</p>
                        </div>
                        <div class="item">
                           <h5>{% trans %}testimonials_intro_05{% endtrans %}</h5>
                           <img alt="" src="{{ asset('bundles/app/img/testimonials/raquel.jpg') }}">
                           <p>{% trans %}testimonials_name_and_position_05{% endtrans %}</p>
                        </div>
                        
                        <div class="item">
                           <h5>{% trans %}testimonials_intro_06{% endtrans %}</h5>
                           <img alt="" src="{{ asset('bundles/app/img/testimonials/ruben.jpg') }}">
                           <p>{% trans %}testimonials_name_and_position_06{% endtrans %}</p>
                        </div>
                        
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>